body {
    font-family: Arial, Helvetica, sans-serif;
}

*,
* ::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* .header {
    width: 100%;
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
} */
/* .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
} */

.header-row {
    display: flex;
    min-height: 100px;
    align-items: center;
}

.nav-body {
    position: absolute;
    /* z-index: 2; */
    display: flex;
    /* justify-content: space-between; */
}

.menu-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
}

.select,
.menu-list li {
    list-style: none;
    margin: 25px 0 0 50px;
}

.select,
.nav-link {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 2px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 500;
}

.select {
    padding: 10px 50px;
}

.content {
    /* padding-top: 60px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.mesh-title,
.content-title {
    text-transform: uppercase;
    text-align: center;
}

.content-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.upper {
    font-size: 15px;
    font-weight: bold;
    color: orange;
    margin-bottom: 0;
    margin-top: 30px;
}

.lower {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
}

.content-img {
    /* flex: 0 0 550px; */
    border-radius: 15px;
}

.content-img-img {
    /* width: 290px; */
    max-width: 100%;
}

.content-list-body {
    flex: 0 0 550px;
}

.content-list {
    padding-left: 2rem;
    list-style-type: none;
}

.content-list-item {
    padding-left: 2rem;
    background-image: url(./img/point.png);
    background-position: 0 0;
    background-size: 1rem 1rem;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-weight: bold;
}

.content-list-item-p {
    padding-left: 35px;
}


/* ======Mesh====== */

.mesh-content {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 20px;
}

.mesh-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding-bottom: 10px;
}

.mesh-upper-title {
    font-size: 25px;
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 5px;
}

.mesh-lower-title {
    font-size: 14px;
    font-weight: 900;
    color: blue;
    margin-top: 5px;
}

.mesh-img {
    max-width: 350px;
    margin: 5px 10px;
}

.lower-block {
    display: flex;
    flex-direction: column;
}

.lblock-title {
    text-transform: uppercase;
    text-align: center;
}

.lblock-upper-title {
    font-size: 14px;
    font-weight: 900;
    color: blue;
    margin-bottom: 5px;
}

.lblock-lower-title {
    font-size: 25px;
    font-weight: 900;
    color: black;
    margin-top: 5px;
}

.lblock-body {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
}

.lblock-left-list,
.lblock-right-list {
    max-width: 300px;
}

.lblock-img {
    max-width: 350px;
}

.lblock-list-1,
.lblock-list-2 {
    padding-left: 2rem;
    list-style-type: none;
    /* list-style-type: decimal-leading-zero; */
    list-style-position: inside;
}

.lblock-list-item {
    font-size: 15px;
    font-weight: 900;
    text-transform: uppercase;
    color: orange;
    /* padding-bottom: 10px; */
}

/* .lblock-list-item::marker {
    font-size: 40px;
    font-weight: 900;
    color: blue;
} */

span {
    font-size: 40px;
    font-weight: 900;
    color: blue;
}

.lblock-list-item-p {
    font-size: 12px;
}


/* ======Footer====== */
.footer {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.footer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #ff9638;
}

.footer-left-block {
    flex: 0 0 450px;
}

.footer-left-text {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    margin: 10px 0;
}

.footer-right-block {
    display: flex;
    flex-direction: row;
    flex: 0 0 420px;
    align-items: center;
}

.footer-right-list {
    padding-left: 15px;
    list-style-type: none;
    list-style-position: outside;
}

.footer-right-list-item {
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    /* padding-left: 4rem;
    background-image: url(./img/arrow.png);
    background-position: 0 -10px;
    background-size: 3rem 3rem ;
    background-repeat: no-repeat; */

}

/* .footer-right-list-item::marker {
    font-size: 5rem;
} */

.footer-right-img {
    max-width: 60px;
}

@media (max-width:1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
        align-items: center;
    }

    .lblock-img,
    .content-img-img {
        display: none;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }

    .select,
    .nav-link {
        padding: 5px 15px;
        font-size: 15px;
        font-weight: 500;
    }

    .select {
        padding: 5px 35px;
    }

    .select,
    .menu-list li {
        margin: 15px 0 0 25px;
    }
}